* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  /* background-image: url(https://user-images.githubusercontent.com/10141928/147430939-8124ff5c-4df1-495f-a4f9-ee6eb839f03e.jpeg); */
}

@media (max-width: 1024px) {
  .app {
    gap: 0;
    justify-content: center;
  }

}
