/* .container {
  width: 100vw;
  height: 100vh ;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .content {
    border: 1px solid red;
    margin: 0 auto;
    width: 500px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://user-images.githubusercontent.com/10141928/147430939-8124ff5c-4df1-495f-a4f9-ee6eb839f03e.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 100px 0;
    transform: scale(1.2);
  }

  footer {
    width: 100%;
  }
} */
